@import "fonts";
@import "bootstrap.css";
@import "jquery-ui.css";
@import "mixins";
@import "cusel";
@import "common";
@import "popup";
@import "slick";
@import "check";
@import "baron";
@import "tip";

@fo: 'Open Sans', times;
@fc: 'cricket', times;

body{
	min-width: 1200px;
}

/* Header */
#header{
	z-index: 1000;
	.header-container-1{
		height: 30px;
		border-bottom: 1px solid #bfbfbf;
		a.geo{
			font-size: 13px;
			color: #919191;
			
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding-left: 25px;
			text-decoration: none;
			&:before{
				position: relative;
				top: 3px;
				margin-right: 6px;
				display: inline-block;
				content: '';
				width: 11px;
				height: 16px;
				background: url(../images/01.png) top no-repeat;
			}
			&:hover{
				text-decoration: none;
				color: #2b59c3;
				&:before{
					background-position: bottom;
				}
			}
		}
		.top-menu{
			position: absolute;
			top: 0;
			left: 292px;
			ul{
				li{
					float: left;
					list-style-type: none;
					margin-right: 28px;
					a{
						display: inline-block;
						height: 30px;
						color: #919191;
						font-size: 13px;
						text-decoration: none;
						line-height: 30px;
						border-bottom: 2px solid transparent;
						&:hover, &.active{
							color: #2b59c3;
							border-color: #2b59c3;
							text-decoration: none;	
						}
					}
				}
			}
		}

		.auth-btns{
			position: absolute;
			right: 15px;
			top: 0;
			height: 29px;
			line-height: 29px;
			a{
				display: inline-block;
				color: #919191;
				font-size: 13px;
				text-decoration: none;
				&.account{
					padding-left: 27px;
					background: url(../images/02.png) left center no-repeat;
				}

				&.login{
					padding-left: 27px;
					background: url(../images/enter-icon.png) left center no-repeat;
				}

				&:hover, &.active{
					color: #2b59c3;
					text-decoration: none;
				}
			}

			.sep{
				position: relative;
				top: -2px;
				margin: 0 10px;
				vertical-align: text-top;
				display: inline-block;
				width: 5px;
				height: 22px;
				background: url(../images/03.png) center no-repeat;
			}
		}
	}

	.header-container-2{
		height: 88px;
		a.logo{
			position: absolute;
			left: 15px;
			top: 23px;
			width: 171px;
			height: 44px;
			background: url(../images/logo.png) 0 0 no-repeat;
			display: block;
		}
		
		.site-act{
			color: #4d4d4d;
			font-family: @fc;
			font-size: 18px;
			line-height: 18px;
			left: 210px;
			position: absolute;
			top: 37px;
		}
		
		.delivery{
			color: #4d4d4d;
			font-size: 13px;
			display: inline-block;
			height: 17px;
			line-height: 17px;
			padding-left: 40px;
			background: url(../images/04.png) 0 0 no-repeat;
			position: absolute;
			left: 488px + 15;
			top: 37px;
		}

		.phone{
			font-size: 13px;
			color: #4d4d4d;
			line-height: 18px;
			position: absolute;
			right: 15px;
			top: 32px;
			span{
				position: relative;
				top: 2px;
				font-size: 25px;
				margin-left: 45px;
			}
		}
	}
	.header-container-3{
		z-index: 100;
		position: relative;
		height: 50px;
		background: #2b59c3;
		.heading-bar-shaddow();
		.menu{
			width: 260px;
			a.cat{
				padding-right: 12px;
				display: inline-block;
				width: 260px;
				height: 50px;
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				color: #ffffff;
				line-height: 50px;
				padding-left: 60px;
				position: relative;
				text-decoration: none;
				background: #2b59c3 url(../images/06.png) 233px 20px no-repeat;
				-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
				-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.5);
				box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.5);
				z-index: 2;
				i{
					position: absolute;
					left: 9px;
					top: 10px;
					width: 30px;
					height: 30px;
					border-radius: 2px;
					display: inline-block;
					background: #003399 url(../images/05.png) center no-repeat;
				}

				&:hover, &.hovered{
					text-decoration: none;

					background-color: #003399;
				}
			}

			&.hovered{
				a.cat{
					text-decoration: none;
					background-color: #003399;
				}
				.main-cat{
					display: block;
				}
			}

			ul.main-cat{
				-webkit-border-bottom-right-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-bottomright: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				position: absolute;
				top: 50px;
				left: 15px;
				z-index: 9999999;
				width: 260px;
				display: none;
				.heading-bar-shaddow();
				>li{
					width: 260px;
					list-style-type: none;
					>a{
						padding-left: 12px;
						height: 40px;
						display: block;
						border-bottom: 1px solid #ededed;
						color: #4d4d4d;
						font-size: 13px;
						text-transform: uppercase;
						line-height: 40px;
						text-decoration: none;
						position: relative;
						background: #fff;
						&:hover{
							text-decoration: none;
							color: #2b59c3;
							background-color: #ededed;
							&:after{
								background-image: url(../images/arr-2.png);
							}
						}
						&:after{
							background: url(../images/arr.png) 0 0 no-repeat;
							content: '';
							width: 8px;
							height: 13px;
							position: absolute;
							left: 237px;
							top: 13px;
							display: inline-block;
						}
					}
					&:last-child{
						a{
							-webkit-border-bottom-right-radius: 3px;
							-webkit-border-bottom-left-radius: 3px;
							-moz-border-radius-bottomright: 3px;
							-moz-border-radius-bottomleft: 3px;
							border-bottom-right-radius: 3px;
							border-bottom-left-radius: 3px;
						}
					}
					&.hovered{
						.sub-menu{
							display: block;
						}
					}
					.sub-menu{
						display: none;
						width: 580px;
						position: absolute;
						left: 260px;
						top: 0;
						height: auto;
						z-index: 2;
						background: #fff;
						-webkit-border-bottom-right-radius: 3px;
						-webkit-border-bottom-left-radius: 3px;
						-moz-border-radius-bottomright: 3px;
						-moz-border-radius-bottomleft: 3px;
						border-bottom-right-radius: 3px;
						border-bottom-left-radius: 3px;
						&.three-cols{
							width: 870px;
						}
						.heading-bar-shaddow();
						.clearfix();
						.col-scroll{
							position: relative;
							float: left;
							height: 500px;
							overflow: auto;
							width: 290px;
							&::-webkit-scrollbar {
						        width: 0;
						    }
						}
						.col-hit{
							width: 290px;
							position: absolute;
							right: 0;
							top: 0;
							height: 500px;
							text-align: center;
							border-left: 1px solid #ededed;
							.item-good{
								width: 236px;
								height: 350px;
								display: inline-block;
								text-align: left;
								.item-good-in{
									.none-shaddow();
									&:hover{
										.none-shaddow();
									}
								}
								.price-block{
									top: 274px;
								}
								.h{
									top: 212px;
								}
							}
						}
						ul{
							li{
								list-style-type: none;
								margin-bottom: 2px;
								a{
									font-size: 13px;
									color: #4d4d4d;
									text-decoration: none;
									padding-left: 30px;
									height: 25px;
									line-height: 25px;
									display: block;
									&:hover{
										color: #2b59c3;
									}
								}
							}
						}
					}
				}
			}
		}

		.search{
			position: absolute;
			top: 3px;
			left: 203px;
			width: 750px;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			padding-left: 100px;
			padding-right: 45px;
			.dropdown{
				position: absolute;
				left: 0;
				top: 0;
				#search-zone{
					text-align: left;
					padding-left: 15px;
					font-size: 15px;
					color: #2b59c3;
					background: #ededed;
					height: 44px;
					width: 100px;
					border: 0;
					-webkit-border-top-left-radius: 3px;
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-top-left-radius: 3px;
					border-bottom-left-radius: 3px;
					.caret{
						margin-left: 18px;
					}
				}
			}

			.s{
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				padding-left: 12px;
				height: 44px;
				background: #fff;
				border: 0;
				width: 100%;
				font-size: 15px;
				color: #2b59c3;
				padding-right: 20px;
				border: 2px solid #fff;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				&::-webkit-input-placeholder  { color:#919191; }
				&:-moz-placeholder { color:#919191; }
				&:-ms-input-placeholder { color:#919191; }
				&:focus{
					border-color: #f5ca14;
					&::-webkit-input-placeholder  { color:#2b59c3; }
					&:-moz-placeholder { color:#2b59c3; }
					&:-ms-input-placeholder { color:#2b59c3; }
				}
			}
			.sub{
				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
				-moz-border-radius-topright: 3px;
				-moz-border-radius-bottomright: 3px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				position: absolute;
				right: 0;
				top: 0;
				width: 45px;
				height: 44px;
				border: 0;
				background: #f5ca14 url(../images/18.png) center no-repeat;
			}
		}

		.fav-comp-btns{
			position: absolute;
			width: 120px;
			right: 215px;
			top: 16px;
			display: none;
			div{
				display: inline-block;
			}
			a{
				font-size: 13px;
				color: #fff;
				text-decoration: none;
				height: 23px;
				line-height: 23px;
				display: inline-block;
				background-position: left top;
				background-repeat: no-repeat;
				&:hover{
					text-decoration: none;
					color: #f5ca14;
				}
				&.fav{
					background-image: url(../images/fav-icon.png);
					padding-left: 25px;
					margin-right: 30px;
					&:hover{
						background-position: left bottom;
					}
				}
				&.comp{
					height: 20px;
					line-height: 23px;
					padding-left: 30px;
					background-position: left top;
					background-image: url(../images/compare-icon.png);
					&:hover{
						background-position: left bottom;
					}
				}
			}
		}
		.btns-active {
			.fav-comp-btns{
				display: block;
			}
			.search{
				width: 600px;
			}
		}
		.cart-informer{
			position: absolute;
			width: 165px;
			right: 15px;
			top: 7px;
			height: 36px;
			a{
				color: #fff;
				font-size: 13px;
				display: block;
				position: relative;
				padding-left: 40px;
				line-height: 10px;
				padding-top: 8px;
				text-decoration: none;
				i{
					left: 0;
					top: 7px;	
					position: absolute;
					display: inline-block;
					width: 29px;
					height: 25px;
					background: url(../images/19.png) top no-repeat;
				}
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				>span{
					font-size: 11px;
					text-transform: none;
					display: block;
					margin-top: 4px;
				}
				&:hover{
					text-decoration: none;
					color: #f5ca14;
					i{
						background-position: bottom;
					}
					.count{
						color: #fff;
					}
				}

				.count{
					width: 36px;
					height: 36px;
					border: 2px solid #f5ca14;
					border-radius: 50%;
					display: inline-block;
					position: absolute;
					right: 0;
					top: 0;
					text-align: center;
					line-height: 34px;
					font-size: 13px;
				}
			}
		}
	}
}

.fixed-menu{
	#header{
		padding-bottom: 50px;
	}
	.header-container-3{
		position: fixed !important;
		left: 0;
		top: 0;
		width: 100%;
	}
}


#hits{
	padding-top: 60px;
	padding-bottom: 50px;

	.items-carousel{
		margin-top: 60px;
	}
}

#special-offer{
	padding-top: 50px;
	
	.items-tile{
		margin-top: 60px;
		.item{
			&:nth-child(7){
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-bottom-left-radius: 3px;
			}
		}
	}

	.more-link{
		margin-top: 15px;
	}
}

#news-reviews{
	background: #f4f4f4;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	height: 465px;
	padding-top: 27px;
	.col-news{
		.news-block{
			margin-top: 10px;
			background: #fff;
			height: 340px;
			padding: 22px 15px 0;
			border-radius: 3px;
			.normal-shaddow();
			.item{
				margin-bottom: 20px;
				.date{
					color: #919191;
					font-size: 13px;
				}

				.h{
					font-size: 13px;
					color: #4d4d4d;
					line-height: 18px;
					margin-top: 2px;
					text-decoration: none;
					&:hover{
						color: #2b59c3;
						text-decoration: none;
					}
				}
				.more{
					margin-top: 5px;
					display: inline-block;
					background: url(../images/12.png) right center no-repeat;
					color: #919191;
					font-size: 13px;
					padding-right: 14px;
				}
			}
		}
	}

	.col-reviews{
		.items-tile{
			margin-top: 10px;
			.item{
				a .t .h{
					height: 170px;
					line-height: 14px;
					margin-top: 0;
				}

				&:nth-child(4){
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-bottom-left-radius: 3px;
				}
			}
		}
	}

	.more-link{
		margin-top: 10px;
	}
}

#advantages{
	height: 345px;
	padding-top: 70px;
	.advantages-block{
		.clearfix();
		.block{
			width: 20%;
			float: left;
			padding-right: 40px;
			.icon{
				height: 60px;
				&.icon-4{
					position: relative;
					left: -27px;
				}
			}
			.h{
				margin-top: 10px;
				font-size: 13px;
				line-height: 17px;
				color: #2b59c3;
				font-weight: 700;
				text-transform: uppercase;
			}
			.t{
				margin-top: 14px;
				color: #4d4d4d;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}
}

#footer{
	.foot-container-1{
		background: #16223a;
		height: 375px;
		.head-foot{
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 12px;
		}
		.container{
			padding-top: 48px;
			position: relative;
		}
		.row{
			position: relative;
			z-index: 2;
		}
		.sub-logo{
			position: absolute;
			left: 40px;
			top: 0;
			width: 427px;
			height: 375px;
			background: url(../images/15.png) 0 0 no-repeat;
			z-index: 1;
		}

		ul{
			li{
				list-style-type: none;
				a{
					color: #bfbfbf;
					font-size: 13px;
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}

		.phone{
			color: #bfbfbf;
			font-size: 13px;
			padding-left: 24px;
			line-height: 15px;
			padding-bottom: 3px;
			background: url(../images/13.png) left bottom no-repeat;
			span{
				display: block;
				font-size: 25px;
				font-weight: 700;
				margin-top: 6px;
			}
		}

		ul.soc{
			margin-top: 7px;
			.clearfix();
			li{
				float: left;
				margin-right: 5px;
				a{
					display: inline-block;
					width: 25px;
					height: 25px;
					border-radius: 3px;
				}

				&.soc1 a{
					background: #4c75a3 url(../images/soc1.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc2 a{
					background: #3b5998 url(../images/soc2.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc3 a{
					background: #1ebef0 url(../images/soc3.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc4 a{
					background: #ea5b0c url(../images/soc4.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc5 a{
					background: #e8a205 url(../images/soc5.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc6 a{
					background: #a77c5e url(../images/soc6.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc7 a{
					background: #cb2026 url(../images/soc7.png) center no-repeat;
					&:hover{
						
					}
				}

				&.soc8 a{
					background: #e02f2f url(../images/soc8.png) center no-repeat;
					&:hover{
						
					}
				}
			}

			&.hovered{

			}

			
			&.blur{

				li{
					opacity: .35;
					&.hovered{
						opacity: 1;
					}
				}
			}
		}
		.pay-methods{
			margin-top: 10px;
			width: 248px;
			height: 29px;
			background: url(../images/pay.png) 0 0 no-repeat;
		}
		.head-foot-mgn{
			margin-top: 21px;
		}
		a.call-form{
			margin-bottom: 62px;
			margin-top: 20px;
			display: inline-block;
			text-decoration: none;
			color: #bfbfbf;
			font-size: 13px;
			padding-left: 24px;
			background: url(../images/14.png) center left no-repeat;
			&:hover{
				text-decoration: none;
				color: #fff;
			}
		}

		form{
			margin-top: 3px;
			width: 260px;
			height: 36px;
			position: relative;
			input{
				width: 165px;
				height: 36px;
				font-size: 13px;
				color: #000;
				border: 0;
				padding: 0 10px;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				border: 1px solid #fff;
				&::-webkit-input-placeholder  { color:#919191; }
				&:-moz-placeholder { color:#919191; }
				&:-ms-input-placeholder { color:#919191; }
				&:focus{
					border-color: #f5ca14;
				}
			}
			.sub{
				position: absolute;
				right: 0;
				top: 0;
				background: #f5ca14;
				width: 95px;
				height: 36px;
				border: 0;
				color: #4d4d4d;
				font-size: 12px;
				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
				-moz-border-radius-topright: 3px;
				-moz-border-radius-bottomright: 3px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}

		.apps{
			font-size: 13px;
			line-height: 20px;
			color: #bfbfbf;
			margin-top: 21px;
			a{
				margin-top: 16px;
				width: 91px;
				height: 31px;
				display: inline-block;
				&:hover{
					opacity: .5;
				}
				&.app-1{
					background: url(../images/app1.png) 0 0 no-repeat;
					margin-right: 11px;
				}
				&.app-2{
					background: url(../images/app2.png) 0 0 no-repeat;
				}
			}
		}
	}

	.foot-container-2{
		height: 80px;
		background: #ededed;
		.container{
			position: relative;
		}
		.logo{
			position: absolute;
			left: 15px;
			top: 20px;
			width: 171px;
			height: 44px;
			background: url(../images/logo.png) 0 0 no-repeat;
			display: block;
		}
		.copy{
			color: #919191;
			font-size: 12px;
			margin-top: 16px;
		}
		.design-by {
			position: absolute;
			color: #bfbfbf;
			width: 235px;
			height: 54px;
			font-size: 11px;
			text-transform: uppercase;
			padding-top: 29px;
			top: 7px;
			right: 15px;
			text-transform: uppercase;
			a {
				position: absolute;
				right: 0;
				top: 7px;
				text-indent: -9999px;
				display: block;
				width: 111px;
				height: 50px;
				background: url(../images/vendere.png) 0 0 no-repeat;
			}
		}
	}
}

#sharing{
	height: 39px;
	background: #ededed;
	.h{
		font-size: 15px;
		color: #919191;
		line-height: 39px;
	}
	.ya-share2{
		position: absolute;
		top: 0;
		right: 15px;
	}
	.ya-share2__list{
		li{
			width: 188px;
			height: 39px;
			margin: 0;
			.ya-share2__badge{
				width: 188px;
				height: 39px;
				border-radius: 0;
				background-repeat: no-repeat;
				background-image: url(../images/soc.png);
				.ya-share2__icon{
					display: none;
				}
			}
			&.ya-share2__item_service_vkontakte .ya-share2__badge{
				background-position: 0 0;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&.ya-share2__item_service_facebook .ya-share2__badge{
				background-position: 0 -39px;
			}
			&.ya-share2__item_service_twitter .ya-share2__badge{
				background-position: 0 -78px;
			}
			&.ya-share2__item_service_odnoklassniki .ya-share2__badge{
				background-position: 0 -117px;
			}
			&.ya-share2__item_service_moimir .ya-share2__badge{
				background-position: 0 -156px;
				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
				-moz-border-radius-topright: 3px;
				-moz-border-radius-bottomright: 3px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			&:hover{
				opacity: 1;
			}
			&.blur{
				opacity: .35;
			}
		}
	}
}


/* Slider */
#slider{
	margin-top: 12px;
}
.top-slider{
	height: 270px;
	width: 100%;
	position: relative;
}



#catalog{
	padding-top: 8px;

	.row-catalog{
		margin-top: 35px;
	}

	.items{
		margin-top: 35px;
		.clearfix();
		.item{
			width: 20%;
			height: 280px;
			padding: 0 12.5px;
			margin-bottom: 40px;
			text-align: center;
			float: left;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: none;
					color: #2b59c3;
				}
			}
			.img{
				width: 100%;
				display: block;
				height: 190px;
				position: relative;
				text-align: center;
				.btn{
					opacity:0;
					width: 135px;
					height: 30px;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -30px / 2;
					margin-left: -135px / 2;
					border: 1px solid transparent;
					display: inline-block;
					&:before{
						content:'';
						top: 0;
						display: block;
						position: absolute;
						width: 7px;
						height: 1px;
						top: 13px;
						left: 13px;
						background: #fff;
						.transform(rotate(45deg));
					}
					&:after{
						content:'';
						bottom: 0;
						display: block;
						position: absolute;
						width: 7px;
						height: 1px;
						top: 17px;
						left: 13px;
						background: #fff;
						.transform(rotate(-45deg));
					}

					&:hover{
						border-color: #1b49a2;
						background: transparent;
						color: #1b48a2;
						&:before, &:after{
							background: #1b48a2;
						}
					}
				}
			}
			.h{
				width: 190px;
				margin-top: 24px;
				display: inline-block;
				font-size: 13px;
				line-height: 16px;
				color: #4d4d4d;
				text-decoration: none;
			}

			&:hover{
				.img{
					img{
						.transition(opacity 0.3s ease 0s);
						opacity: .35;
					}
				}
				.btn{
					.transition(opacity 0.2s ease 0.3s);
					opacity: 1;
				}
				.h{
					color: #2b59c3;
				}
			}
		}
	}

	.search-block{
		border-radius: 3px;
		.normal-shaddow();
		.search-block-row{
			padding: 10px 0;	
			.clearfix();
		}
		&:hover{
			.hover-shaddow();
		}
		select{
			width: 136px;
			height: 30px;
		}
		.h{
			text-transform: uppercase;
			color: #4d4d4d;
			font-size: 13px;
			font-weight: 700;
			float: left;
			line-height: 30px;
			padding-left: 10px;
			width: 275px;
			.tip{
				position: relative;
				top: 4px;
				width: 18px;
				margin-left: 5px;
				height: 18px;
				display: inline-block;
				background: url(../images/22.png) center no-repeat;
			}
		}
		form{
			float: left;
			input{
				.inp-text();
				height: 30px;
				width: 175px;
				font-size: 13px;
				-webkit-border-radius: 3px;
				-webkit-border-top-right-radius: 0;
				-webkit-border-bottom-right-radius: 0;
				-moz-border-radius: 3px;
				-moz-border-radius-topright: 0;
				-moz-border-radius-bottomright: 0;
				border-radius: 3px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.s_n{
				.sub-num-search{
					-webkit-border-radius: 0;
					-webkit-border-top-right-radius: 3px;
					-webkit-border-bottom-right-radius: 3px;
					-moz-border-radius: 0;
					-moz-border-radius-topright: 3px;
					-moz-border-radius-bottomright: 3px;
					border-radius: 0;
					border-top-right-radius: 3px;
					border-bottom-right-radius: 3px;
				}
			}
		}
		.sel{
			float: left;
			margin-right: 4px;
		}
		.sub-btn{
			float: right;
			background: #bfbfbf;
			width: 80px;
			height: 30px;
			
			font-size: 13px;
			color: #fff;
			border-radius: 3px;
			border: 0;
			display: inline-block;
			&:hover{
				background: #2b59c3;
			}
		}
		.sub-num-search{
			margin-right: 4px;
		}
	}

	.sort-block{
		padding-top: 47px;
		.clearfix();
		.sort-block-col{
			float: left;
			&.sort-block-col-1{
				width: 80%;

				a{
					font-size: 13px;
					color: #919191;
					text-decoration: none;	
					display: inline-block;
					margin-right: 30px;
					&.active, &:hover{
						color: #2b59c3;
					}
				}
			}
			&.sort-block-col-2{
				width: 20%;
				a{
					display: inline-block;
					width: 16px;
					height: 16px;
					background-image: url(../images/24.png);
					background-repeat: no-repeat;

					&.tile{
						background-position: top right;
						margin-left: 16px;
						&:hover, &.active{
							background-position: bottom right;
						}
					}
					&.list{
						background-position: top left;
						&:hover, &.active{
							background-position: bottom left;
						}
					}
				}
			}
		}
		.h{

			text-transform: uppercase;
			color: #4d4d4d;
			font-size: 13px;
			font-weight: 700;
			float: left;
			margin-right: 18px;
		}
	}

	.filter-block{
		
		.border-radius(3px);
		.filter-group{
			padding: 22px 10px 25px;
			border-bottom: 1px solid #eeeeee;
			.normal-shaddow();
			&:last-child{
				border: 0;
			}
			&.filter-group-price{
				border-bottom: 0;
				
				.bx_filter_block{
					margin-top: 20px;
				}
			}
			&.filter-group-btn{padding: 0 0 25px;}
			.h{
				color: #4d4d4d;
				font-size: 13px;
				line-height: 15px;
				font-weight: 700;
				text-transform: uppercase;
			}
			.filter-var{
				margin-top: 8px;
				font-size: 13px;
				color: #919191;
				text-decoration: none;
				a{
					font-size: 13px;
					color: #919191;
					text-decoration: none;
					span{
						display: inline-block;
						width: 16px;
						height: 16px;
						position: relative;
						top: 4px;
						margin-right: 4px;
						background: url(../images/check.png) top no-repeat;
					}
					&:hover{
						text-decoration: none;
					}
				}
				&.checked{
					a{
						span{
							background-position: bottom;
						}
					}
				}
			}

			.filter-reset{
				margin-top: 10px;
				a{
					font-size: 12px;
					color: #2b59c3;
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color: #fc1202;
					}
				}
			}	
			.range{
				margin-top: 20px;
				margin-bottom: 15px;
			}
			.price-range-container{
				padding: 0 7px;

			}
			.btns{
		
				padding: 20px 10px 0;
				text-align: left;
				.clearfix();
				.btn-blue{
					height: 28px;
					width: 75px;
					font-size: 13px;
				}

				.reset{
					margin-top: 6px;
					float: right;
					color: #2b59c3;
					text-decoration: none;
					font-size: 12px;
					border: 0;
					background: transparent;
					&:hover{
						color: #fc1202;
						text-decoration: none;
					}
				}
			}
	
			.range{
				font-size: 13px;
				color: #919191;
				.clearfix();
				.from{
					float: left;
					width: 50%;
					text-align: left;
				}
				.to{
					float: left;
					width: 50%;
					text-align: right;
				}
			}
		}

		&:hover{
			.hover-shaddow();
		}
	}


	.catalog-block{
		margin-top: 40px;
		.items-tile{
			.clearfix();
			.item-good{
				width: 25%;
				height: 425px;
				float: left;
				padding-left: 0;
				padding-right: 15px;
				margin-bottom: 15px;
				.h{
					a{
						color: #4d4d4d !important;
					}
				}
				.item-good-in{
					.img{
						text-align: center;
					}
					height: 425px;
				}
				&:nth-child(4n){
					padding-right: 0;
				}

				.price-block{
					top: 338px;
				}

				.rates{
					position: absolute;
					top: 310px;
				}
			}
		}

		.items-list{
			.clearfix();
			.item-good{
				width: 100%;
				height: 240px;
				float: none;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 15px;
				.img{
					height: 240px;
					width: 190px;
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;
					.tbl{
						height: 240px;
						width: 190px;
						text-align: center;
						img{
							display: inline-block;
							width: 100%;
							max-width: 170px;
							height: auto;
						}
					}
				}
				.h{
					width: 425px;
					left: 190px;
					top: 32px;
					padding: 0;
					.n{
						float: left;
						margin-bottom: 24px;
					}
					.art{
						float: right;
						font-size: 13px;
						color: #919191;
					}
				}
				.desc{
					width: 425px;
					left: 190px;
					top: 120px;
					position: absolute;
					font-size: 12px;
					line-height: 14px;
					color: #4d4d4d;
				}

				.item-good-in{
					height: 240px;
				}
				&:nth-child(4n){
					padding-right: 0;
				}

				.price-block{
					top: 338px;
				}

				.rates{
					position: absolute;
					top: 189px;
					left: 190px;
					width: 425px;
					padding: 0;
					.rating{
						width: 90px;
						background: none;
						height: 30px;
						position: relative;
						top: -8px;
					}
					.reviews{
						width: auto;
						margin-right: 25px;
						position: relative;
						top: -1px;
					}
					.guarantee{
						position: relative;
						top: -2px;
						color: #2b59c3;
						font-size: 13px;
						float: left;
					}
				}

				.promo-ribbon{
					right: 12px;
					top: 44px;
				}

				.price-block{
					left: 645px;
					top: 100px;
					width: auto;
					.current-price{
						width: 100%;
						float: none;
					}
					.old-price{
						width: 100%;
						float: none;
						line-height: 28px;
						text-align: left;
					}
				}

				.btns{
					padding: 0;
					top: 99px;
					left: 796px;
					width: auto;
					div{
						float: none;
						width: 100%;
					}
					button{
						width: auto;
						display: block;
						margin: 0;
						&.btn-order{
							width: 96px;
						}
						&.btn-fav{
							margin-top: 10px;
							margin-left: 3px;
						}

						&.btn-comp{
							margin-left: 3px;
							margin-top: 10px;
						}
					}
					a{
						width: auto;
						display: block;
						margin: 0;
						&.btn-order{
							width: 96px;
						}
						&.btn-fav{
							margin-top: 10px;
							margin-left: 3px;
						}

						&.btn-comp{
							margin-left: 3px;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	.pager{
		margin-top: 70px;
		margin-bottom: 70px;
	}
}

#cat-info{
	background: #ededed;
	color: #919191;
	font-size: 12px;
	line-height: 15px;
	padding: 45px 0 35px;
	p{
		font-size: 12px;
		line-height: 15px;
	}
}

#breadcrumbs{
	padding-bottom: 2px;
	background: #ededed;
}


#product-card{
	background: #fff;
	.row-meta{
		margin-top: 15px;
		margin-bottom: 48px;
		.rating{
			display: inline-block;
			width: 86px;
			height: 14px;
			position: relative;
			top: -5px;	
		}
		.reviews{
			display: inline-block;
			font-size: 13px;
			color: #919191;
			margin-left: 10px;
			a{
				margin-left: 50px;
				display: inline-block;
				color: #2b59c3;
				font-size: 13px;
			}
		}
		.art{
			margin-left: 35px;
			display: inline-block;
			font-size: 13px;
			color: #919191;
		}
		.num{
			margin-left: 50px;
			display: inline-block;
			font-size: 13px;
			color: #919191;
		}

		.meta-block{
			height: 24px;
			float: right;
			display: inline-block;
			background: #fff;
			line-height: 24px;
			border-radius: 2px;
			position: relative;
			>a{
				display: inline-block;
				width: 100px;
				padding-left: 22px;
				font-size: 12px;
				height: 24px;
				color: #919191;
				position: relative;
				&:hover{
					color: #2b59c3;
				}

				&.fav{
					&:before{
						position: absolute;
						left: 7px;
						top: 4px;
						content: '';
						width: 10px;
						height: 15px;
						display: inline-block;
						background: url(../images/fav-ic.png) top no-repeat;
					}

					&:hover{
						&:before{
							background-position: bottom;
						}
					}
				}
				&.comp{
					&:before{
						position: absolute;
						left: 4px;
						top: 6px;
						content: '';
						width: 14px;
						height: 13px;
						display: inline-block;
						background: url(../images/comp-ic.png) top no-repeat;
					}

					&:hover{
						&:before{
							background-position: bottom;
						}
					}
				}
			}
			.share-link-block{
				display: block;
				float: right;
				width: 100px;
				font-size: 12px;
				height: 214px;
				color: #919191;
				position: relative;
				>a{
					display: inline-block;
					width: 100px;
					padding-left: 22px;
					font-size: 12px;
					height: 24px;
					color: #919191;
					&:hover{
						color: #2b59c3;
					}
					
					&.share{
						&:before{
							position: absolute;
							left: 2px;
							top: 5px;
							content: '';
							width: 12px;
							height: 13px;
							display: inline-block;
							background: url(../images/share-ic.png) top no-repeat;
						}

						&:hover{
							&:before{
								background-position: bottom;
							}
						}
					}

				}
				&.active{
					.hover-shaddow();
				}
			}
			.share-single-block{
				display: none;
				width: 100px;
				position: absolute;
				z-index: 1;
				top: 24px;
				right: 0;
				background: #fff;
				-webkit-border-radius: 2px;
				-webkit-border-top-left-radius: 0;
				-moz-border-radius: 2px;
				-moz-border-radius-topleft: 0;
				border-radius: 2px;
				border-top-left-radius: 0;
				.ya-share2__list{
					margin-left: 14px;
					padding-bottom: 15px;
					li{
						display: block;
						height: 25px;
						margin-top: 10px;
						a{
							.ya-share2__badge{
								background-color: transparent;
								.ya-share2__icon{
									height: 25px;
									width: 25px;
									background-image: url(../images/soc-single.png) !important;
									background-repeat: no-repeat !important;
									background-color: transparent !important;
									background-size: auto !important;
								}
								.ya-share2__counter{
									display: inline-block !important;
									width: 45px;
									font-family: @fo;
									font-size: 13px;
									color: #919191;
									padding: 0;
									line-height: 25px;
									text-align: center;
								}
							}
						}

						&.ya-share2__item_service_vkontakte{
							.ya-share2__icon{
								background-position: 0 0;
							}
						}
						&.ya-share2__item_service_facebook{
							.ya-share2__icon{
								background-position: -25px 0;
							}
						}
						&.ya-share2__item_service_odnoklassniki{
							.ya-share2__icon{
								background-position: -50px 0;
							}
						}
						&.ya-share2__item_service_moimir{
							.ya-share2__icon{
								background-position: -75px 0;
							}
						}
						&.ya-share2__item_service_gplus{
							.ya-share2__icon{
								background-position: -100px 0;
							}
						}
					}
				}
			}
		}
	}

	.col-img{
		.product-slider{
			.clearfix();
			.slider-nav{
				width: 67px;
				height: 342px;
				float: left;
				padding-top: 26px;
				margin-top: 9px;
				.slick-slide{
					text-align: center;
					width: 67px;
					height: 67px;
					display: block;
					border: 1px solid #bfbfbf;
					margin-bottom: 8px;
					img{
						display: inline-block;
						width: 100%;
						height: auto;
					}
					&.slick-current{
						border-color: #2b59c3;
					}
				}

				.slick-arrow{
					width: 36px;
					height: 13px;
					background-image: url(../images/single-arr.png);
					background-repeat: no-repeat;
					background-color: transparent;
					text-indent: -99999px;
					border: 0;
					position: absolute;
					left: 50%;
					margin-left: -18px;
					&.slick-prev{
						top: 0;
						background-position: top right;
						&:hover{
							background-position: top left;
						}
					}
					&.slick-next{
						bottom: 0;
						background-position: bottom right;
						&:hover{
							background-position: bottom left;
						}
					}
				}
			}

			.slider-for{
				margin-left: 30px;
				width: 500px;
				float: left;

				.slick-slide{
					width: 555px;
					text-align: center;
					background: #2b59c3;
					height: 360px;
					img{
						display: inline-block;
						height: 100%;
						width: auto;
					}
				}
			}
			
		}
	}

	.col-desc{
		.clearfix();
		.left-desc{
			float: left;
			width: 260px;
			.price-block{
				.old{
					margin-top: -5px;
					font-size: 15px;
					color: #919191;
					text-decoration: line-through;
					span{
						font-size: 18px;
					}
				}
				.new{
					color: #2b59c3;
					font-size: 20px;
					line-height: 20px;
					margin-top: 12px;
					position: relative;
					&:before{
						content: '';
						width: 11px;
						display: block;
						position: absolute;
						left: -15px;
						top: 10px;
						height: 32px;
						background: url(../images/arr4.png) 0 0 no-repeat;
					}
					span{
						font-weight: 700;
						color: #2b59c3;
						font-size: 40px;
					}
				}
				.bonus{
					color: #2b59c3;
					font-size: 13px;
					line-height: 15px;
					margin-top: 5px;
					i{
						position: relative;
						top: 5px;
						margin-right: 5px;
						width: 23px;
						height: 23px;
						display: inline-block;
						background: url(../images/bonus-ic.png) 0 0 no-repeat;
					}
					span{
						font-size: 15px;
						color: #4d4d4d;
					}
				}
			}
			.btns-block{
				margin-top: 50px;
				>div{
					margin-bottom: 16px;
				}
				.buy-btn{
					width: 200px;
					height: 48px;
					font-size: 15px;
					text-transform: uppercase;
					line-height: 48px;
					position: relative;
					&:before{
						content: '';
						display: inline-block;
						width: 20px;
						height: 17px;
						position: absolute;
						top: 17px;
						left: 16px;
						background: url(../images/cart-icon.png) 0 0 no-repeat;
					}
				}
				.buy-one-click-btn{
					margin-bottom: 16px;
					width: 200px;
					height: 48px;
					font-size: 15px;
					text-transform: uppercase;
					line-height: 48px;
				}
			}
		}
		.right-desc{
			float: left;
			width: 197px;
			.available{
				margin-top: -5px;
				color: #508104;
				font-size: 13px;
				display: inline-block;
				position: relative;
				&:before{
					content: '';
					width: 13px;
					height: 11px;
					display: inline-block;
					position: absolute;
					top: 5px;
					left: -21px;
					background: url(../images/check-green.png) 0 0 no-repeat;
				}
			}
			.guarantee{
				color: #4d4d4d;
				font-size: 13px;
				margin-top: 6px;
			}

			.shipping{
				margin-top: 91px;
				line-height: 22px;
				.h{
					font-size: 13px;
					line-height: 22px;
					color: #2b59c3;
				}
				a{
					display: inline-block;
					font-size: 13px;
					line-height: 22px;
					color: #2b59c3;
					text-decoration: none;
				}
				.period{
					font-size: 13px;
					line-height: 22px;
					color: #4d4d4d;
				}
			}
		}
	}

	
}

#product-desc{
	
	.tabs{
	
		margin-top: 80px;
		.tab-headers{
			background: #fff;
			.clearfix();
		}
		.tabs-h{
			color: #919191;
			font-size: 15px;
			text-transform: uppercase;
			float: left;
			line-height: 36px;
			height: 36px;
			padding: 0 30px;
			border-bottom: 1px solid transparent;
			&.active{
				border-bottom: 2px solid #2b59c3;
			}
		}

		.tab-contents{
			background: #f4f4f4;
			padding-bottom: 30px;
		}
	}
}

.typing-area{
	h2{
		color: #2b59c3;
		font-weight: 700;
		font-size: 25px;
		margin: 1em 0;
	}
	h3{
		margin-top: 1em;
		color: #4d4d4d;
		font-size: 15px;
		text-transform: uppercase;
		border-bottom: 1px solid #d0d0d0;
		padding-bottom: 4px;
	}
	p{
		color: #4d4d4d;
		font-size: 13px;
		margin: 1em 0;
	}
	
	.alignleft{
		float: left;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-right: 2em;
		padding-bottom: 2em;
	}
	.alignright{
		float: right;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 2em;
		padding-bottom: 2em;
	}
	.aligncenter{
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
	}
}

#also-buy{
	margin-top: 70px;
	.head-md{
		padding-left: 10px;
		padding-bottom: 25px;
	}
}

#viewed{
	margin-top: 35px;
	padding-bottom: 50px;
	.head-md{
		padding-left: 10px;
		padding-bottom: 25px;
	}
}